<!DOCTYPE html>
<html>

<head>

<title>Royal Falcon Shipment Tracking</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Royal Falcon Shipment Tracking</h1>

<form method="POST">

<input name="code" placeholder="Enter Tracking Number">

<button>Track</button>

</form>

{% if shipment %}

<div class="card">

<h2>Shipment Information</h2>

<p>Origin: {{shipment.origin}}</p>

<p>Destination: {{shipment.destination}}</p>

<p>Current Location: {{shipment.location}}</p>

<p>Status: {{shipment.status}}</p>

</div>

<h2>Shipment Progress</h2>

{% for step in history %}

<div class="timeline">

<p>{{step.location}} - {{step.status}}</p>

</div>

{% endfor %}

{% endif %}

</body>

</html>
