<!DOCTYPE html>
<html>

<head>
<title>Royal Falcon Shipment Tracking</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Royal Falcon Shipment Tracking</h1>

<form method="POST">

<input type="text" name="code" placeholder="Enter Tracking Number" required>

<button type="submit">Track</button>

</form>

<hr>

{% if shipment %}

<h2>Shipment Information</h2>

<p>

Tracking Number: {{shipment.code}} <br>
Origin: {{shipment.origin}} <br>
Destination: {{shipment.destination}} <br>
Current Location: {{shipment.location}} <br>
Status: {{shipment.status}}

</p>

{% endif %}

</body>

</html>
